/* 
*  Created by Chelsea
*  Sets CSS so that the map will appear
*
*  Edited:
*/

.ios, .md {
  page-walk {

    .scroll-content {
      height: 100%
    }
 
    #map {
      width: 250px;
      height: 300px;
    }

    .scroll-content{
			background-image: url('../assets/images/background_yard.png');
			image-rendering: pixelated;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin: auto;
    }

		#map {
				display: block;
				margin: 0 auto;
				padding-top: 100px;
		}

 
  }
 
}

