/* 
*  Created by Chelsea
*  Sets CSS so that the map will appear
*
*  Edited:
*/

.ios, .md {
  page-walk {

    .scroll-content {
      height: 100%
    }
 
    #map {
      width: 100%;
      height: 100%;
    }
 
  }
 
}
