page-shop {
		.scroll-content {
				background-image: url('../assets/images/background_shop.png');
				image-rendering: pixelated;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: right;
				margin: auto;
		}
		.shop-section-header {
				background-color: white;
		}
}
