<!--
  Generated template for the Shop page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
		<!-- For Menu -->
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

    <ion-title>Shop</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-color: white">

  <button ion-button (click)="items.readDatabaseFood()" color="danger">refresh food</button>
  <button ion-button (click)="items.readDatabaseTreats()" color="danger">refresh treats</button>


  <div>
    <h2>${{this.items.getPuppyPoints()}}</h2>
		<button ion-button (click)="incrementPuppyPoints(500)">Get 500 Puppy Points!> </button>
  </div>


  <div padding>
    <ion-segment [(ngModel)]="shop">
      <ion-segment-button value="items">
        Items
      </ion-segment-button>
      <ion-segment-button value="dogs">
        Dogs
      </ion-segment-button>
    </ion-segment>
  </div>

      <div [ngSwitch]="shop">
      <ion-list no-lines *ngSwitchCase="'items'">
      <ion-item *ngFor="let item of showItems()" (click) = "confirmBuyAlert(item)">
        <ion-thumbnail item-left>
          <img src={{getItemImage(item)}}>
        </ion-thumbnail>
        <h2>{{item.getName()}}</h2>
        <p [innerText]="item.getCost()"></p>
      </ion-item>
      </ion-list>

      <ion-list no-lines *ngSwitchCase="'dogs'">
      <ion-item *ngFor="let item of showItems()">
        <ion-thumbnail item-left>
          <img src={{getItemImage(item)}}>
        </ion-thumbnail>
        <h2>{{item.getName()}}</h2>
        <p [innerText]="item.getCost()"></p>
      </ion-item>
      </ion-list>
      </div>

</ion-content>
