<!--
  Generated template for the Inventory page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
		<!-- For Menu -->
    <button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
		</button>

    <ion-title>Inventory</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="width: 100%"><!-- style="background-color:#F7C8FF;">-->
  <div padding>
    <ion-segment [(ngModel)]="stuff">
      <ion-segment-button value="food">
        Food
      </ion-segment-button>
      <ion-segment-button value="treats">
        Treats
      </ion-segment-button>
      <ion-segment-button value="cleaning">
        Cleaning
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="stuff">
  <ion-list *ngSwitchCase="'food'">

    <ion-item *ngFor="let food of getFood()" class="advanced-background" (click)="navigateItemDetails(food)">
      <ion-thumbnail item-left>
        <img src={{this.imgPath.getImagePath(food.getIcon())}}>
      </ion-thumbnail>
        <h2>{{food.getName()}}</h2>
        <p [innerText]="food.getQuantity()"></p>
    </ion-item>


  </ion-list>

  <ion-list *ngSwitchCase="'treats'">

    <ion-item *ngFor="let treat of getTreats()" class="advanced-background" (click)="navigateItemDetails(treat)">
      <ion-thumbnail item-left>
        <img src={{this.imgPath.getImagePath(treat.getIcon())}}>
      </ion-thumbnail>
        <h2>{{treat.getName()}}</h2>
        <p [innerText]="treat.getQuantity()"></p>
    </ion-item>

  </ion-list>

  <ion-list *ngSwitchCase="'cleaning'">

    <ion-item *ngFor="let clean of getCleaning()" class="advanced-background" (click)="navigateItemDetails(treat)">
      <ion-thumbnail item-left>
        <img src={{this.imgPath.getImagePath(clean.getIcon())}}>
      </ion-thumbnail>
        <h2>{{clean.getName()}}</h2>
        <p [innerText]="clean.getQuantity()"></p>
    </ion-item>

  </ion-list>
</div>

</ion-content>
